.modal-open
  overflow: hidden
.float-left
  float: left

.spinner
  img
    width: 30px
    margin-left: 20px

.icon-check
  display: inline-flex
  font-size: 25px
  margin: 5px 15px
  color: #57ca62

.product-status
  margin-bottom: 20px
  .filter-label
    padding-top: 10px

.receipt-debug-image
  img
    height: 100%
    width: 100%

.receipt-debug
  padding-bottom: 20px
  padding-top: 20px
  border-bottom: 1px solid grey
