.pagination-sm
  list-style-type: none
  float: left

  a.active
    i:before
      font-weight: 600
      color: #585858

  li
    float: left
    padding: 5px

  li.active
    background: #dedede

  .l15
    width: 30px
    text-align: center

.disabled, .disabled input
  background-color: transparent !important
